page-products-update {
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #32db64; 
    -webkit-box-shadow: inset 0 0px 0 0 #32db64;
        box-shadow: inset 0 0px 0 0 #32db64; 
   }
   
   .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
       border-bottom-color: #32db64; 
       -webkit-box-shadow: inset 0 0px 0 0 #32db64;
           box-shadow: inset 0 0px 0 0 #32db64; 
   }
}
