<ion-header>
  <ion-toolbar >
    <ion-buttons >
      
    </ion-buttons>
    <ion-title>{{profile_lang}}</ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click)="moveToSet(id)">
          <ion-icon name="ios-create-outline"></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  

  <ion-list >
     
  
          <ion-avatar class="img_prof" >
            <img class="goga" *ngIf=" test != null" src="{{image}}">
            <img class="goga" *ngIf=" test == null && image !=null && image.length > 0" src="https://givet.co.uk/backend/web/images/users/{{image}}">
            <img *ngIf="test == null && image == null || image.length <= 0" src="https://givet.co.uk/backend/web/images/default-250x250.png"/>
            
            </ion-avatar>
         
          
           
    <ion-item>
      <ion-icon name="ios-person" ></ion-icon>
      <ion-label>
        <p>{{name_lang}}</p>
        <h2>{{name}} {{surename}}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" ></ion-icon>
      <ion-label>
          <p>{{email_eng}}</p>
        <h2>{{email}}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
        <ion-icon name="person" ></ion-icon>
        <ion-label>
            <p>{{phone_eng}}</p>
          <h2>{{phone}}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-icon name="person" ></ion-icon>
          <ion-label>
              <p>{{bithday_eng}}</p>
            <h2>{{bithday}}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="person" ></ion-icon>
            <ion-label>
                <p>{{home_adress_eng}}</p>
              <h2>{{home_adress}}</h2>
            </ion-label>
          </ion-item>
          <ion-item>
              <ion-icon name="person" ></ion-icon>
              <ion-label>
                  <p>{{mail_adress_eng}}</p>
                <h2>{{mail_adress}}</h2>
              </ion-label>
            </ion-item>

            
            <ion-item >
                <ion-label >{{lang_test}}</ion-label>
             
<ion-select  *ngIf="lang_id == '1'" [(ngModel)]="lang" (ngModelChange)="optionsFn()">
  <ion-option value="English" (ionSelect)="clickOption(1)" selected>English</ion-option>
  <ion-option value="Română" (ionSelect)="clickOption(2)" >Română</ion-option>
</ion-select>


<ion-select *ngIf="lang_id == '2'" [(ngModel)]="lang" (ngModelChange)="optionsFn()">
  <ion-option value="English" (ionSelect)="clickOption(1)" >English</ion-option>
  <ion-option value="Română" (ionSelect)="clickOption(2)" selected>Română</ion-option>
</ion-select>

</ion-item>


            <button ion-item (click)="moveToGiftProfile($id, id)"> 
                <ion-icon name="bowtie" item-start></ion-icon>
                {{gift_eng}}
              </button>

              <button  ion-item (click)="moveToProducts()"> 
                <ion-icon name="briefcase" item-start></ion-icon>
                {{product_eng}}
              </button>

          

                <button  ion-item (click)="moveToFriendsPage($id, id)">
                    <ion-icon name="man" item-start></ion-icon>
                    {{friends_eng}}
                    <ion-badge item-end>{{friends}}</ion-badge>
                  </button>


                <button  ion-item (click)="moveToSocialFriends()">
                    <ion-icon name="md-globe" item-start></ion-icon>
                    {{friends_soc_eng}}
                   
                  </button>

               

                  <button ion-item > 
                  <p style="background-color: white;color: gray">{{global_page_eng}}</p>

                </button>

                  <button ion-item (click)="moveToArct()">
                      <ion-icon name="bookmarks" item-start></ion-icon>
                      {{arc_eng}}
                     
                    </button>

                    <button  ion-item (click)="moveToProd()">
                        <ion-icon name="cloud" item-start></ion-icon>
                        {{all_prod_eng}}
                       
                      </button>

                  

                      <button ion-item (click)="moveToGallery()">
                          <ion-icon name="images" item-start></ion-icon>
                          {{gal_eng}}
                         
                        </button>
  
                        <button ion-item (click)="moveToUsers()">
                            <ion-icon name="man" item-start></ion-icon>
                            {{user_eng}}
                           
                          </button>


            <ion-item text-center>
              <div class="soc_type">
                <img *ngIf=" fb != '' && fb != null"(click)="presentFacebook()" style="width: 30px;" src="assets/imgs/facebook.png">
                <img *ngIf=" fb == '' || fb == null"(click)="presentFacebook()" style="opacity: 0.5; width: 30px;" src="assets/imgs/facebook.png">
                <img *ngIf=" google == '' || google ==null" (click)="presentGoogle()" style="opacity: 0.5;width: 30px;" src="assets/imgs/google-plus.png">
                <img *ngIf=" google != '' &&  google !=null " (click)="presentGoogle()" style="width: 30px;" src="assets/imgs/google-plus.png">


                <img *ngIf=" inst != '' && inst != null" (click)="presentInst()" style="width: 30px;" src="assets/imgs/instagram.png">
                <img *ngIf=" inst == '' || inst == null" (click)="presentInst()" style="opacity: 0.5;width: 30px;" src="assets/imgs/instagram.png">
                <img *ngIf=" twit != '' && twit != null" (click)="presentTwit()" style="width: 30px;" src="assets/imgs/twitter.png">
                <img *ngIf=" twit == '' || twit == null" (click)="presentTwit()" style="opacity: 0.5;width: 30px;" src="assets/imgs/twitter.png">
              </div>
            </ion-item>

            <ion-item text-center>
                <h2 style=" color: red;" (click)="exit()"> {{exit_eng}}</h2>
              </ion-item>
              <ion-item text-center>
               
              </ion-item>
  </ion-list>
</ion-content>
