page-wishlist-view {
    .label-success {
        background-color: #00a65a !important;
        color: #fff;
        border-radius: .25em;
    }
    
    .label-warning {
        background-color: #ff9e0d !important;
        color: #fff;
        border-radius: .25em;
    }
    
    .label-danger {
        background-color: #dd4b39 !important;
        color: #fff;
        border-radius: .25em;
    }
    
}
