<!--
  Generated template for the WishListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!searchBar">{{product_lang}}</ion-title>
   
  
    <ion-buttons *ngIf="!searchBar" end style="margin-right: 3px;">
        <button ion-button icon-only (click)="moToCreate()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>

      <ion-searchbar *ngIf="searchBar" showCancelButton="true" (ionCancel)="cancelSearch()" [(ngModel)]="queryText"
      (ionInput)="updateText($event)"></ion-searchbar>
      <ion-buttons end>
        <button ion-button icon-only *ngIf="!searchBar" (click)="searchBar=true">
        <ion-icon name="search"></ion-icon>
      </button>
      </ion-buttons>
      
  </ion-navbar>

</ion-header>



<ion-content>


    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingText="Pull to refresh..."
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
      
  <ion-list>

    
        <ion-list *ngIf="items == null " text-center>
  
      
            <button *ngIf="items == null" (click)="moToCreate()" style=" background-color: #600051;margin:20px;" ion-button round>{{create_new}}</button>
          </ion-list>
     
      

      <ion-col *ngFor="let item of items"  no-padding>

          <ion-card (click)="moToView(item)">
              
              
              <ion-item>
                  <ion-avatar item-start>
                    <img src="https://givet.co.uk/backend/web/images/{{item.image}}">
                  </ion-avatar>

                  <h2 (click)="moToView(item)"> {{item.name}}</h2>
                 
                </ion-item>

              <ion-card-header *ngIf=" item.rating == '0'" class="no-mg">



                      <ion-icon  name="star" class=" unchecked 1"></ion-icon>
                      
                      <ion-icon  name="star" class=" unchecked 2"></ion-icon>
                      <ion-icon  name="star" class=" unchecked 3"></ion-icon>
                      <ion-icon  name="star" class=" unchecked 4"></ion-icon>
                      <ion-icon  name="star" class=" unchecked 5"></ion-icon>
  
                      
                      
                    </ion-card-header>


              <ion-card-header *ngIf=" item.rating == '1'" class="no-mg">



                  <ion-icon  name="star" class=" checked 1"></ion-icon>
                  
                  <ion-icon  name="star" class=" unchecked 2"></ion-icon>
                  <ion-icon  name="star" class=" unchecked 3"></ion-icon>
                  <ion-icon  name="star" class=" unchecked 4"></ion-icon>
                  <ion-icon  name="star" class=" unchecked 5"></ion-icon>

                  
                  
                </ion-card-header>

                <ion-card-header *ngIf=" item.rating == '2'" class="no-mg">



                      <ion-icon  name="star" class=" checked 1"></ion-icon>
                      
                      <ion-icon  name="star" class=" checked 2"></ion-icon>
                      <ion-icon  name="star" class=" unchecked 3"></ion-icon>
                      <ion-icon  name="star" class=" unchecked 4"></ion-icon>
                      <ion-icon  name="star" class=" unchecked 5"></ion-icon>
  
                      
                      
                    </ion-card-header>

                    <ion-card-header *ngIf=" item.rating == '3'" class="no-mg">



                          <ion-icon  name="star" class=" checked 1"></ion-icon>
                          
                          <ion-icon  name="star" class=" checked 2"></ion-icon>
                          <ion-icon  name="star" class=" checked 3"></ion-icon>
                          <ion-icon  name="star" class=" unchecked 4"></ion-icon>
                          <ion-icon  name="star" class=" unchecked 5"></ion-icon>
      
                          
                          
                        </ion-card-header>

                        <ion-card-header *ngIf=" item.rating == '4'" class="no-mg">



                              <ion-icon  name="star" class=" checked 1"></ion-icon>
                              
                              <ion-icon  name="star" class=" checked 2"></ion-icon>
                              <ion-icon  name="star" class=" checked 3"></ion-icon>
                              <ion-icon  name="star" class=" checked 4"></ion-icon>
                              <ion-icon  name="star" class=" unchecked 5"></ion-icon>
          
                              
                              
                            </ion-card-header>

                            <ion-card-header *ngIf=" item.rating == '5'" class="no-mg">



                                  <ion-icon  name="star" class=" checked 1"></ion-icon>
                                  
                                  <ion-icon  name="star" class=" checked 2"></ion-icon>
                                  <ion-icon  name="star" class=" checked 3"></ion-icon>
                                  <ion-icon  name="star" class=" checked 4"></ion-icon>
                                  <ion-icon  name="star" class=" checked 5"></ion-icon>
              
                                  
                                  
                                </ion-card-header>

                <ion-card-header class="no-mg">
                    <span class="label label-success">                  
                        <ion-icon name="md-cash"></ion-icon> {{item.price}}</span> 
                    
                        <span class="label label-warning">                  
                            <ion-icon name="ios-grid-outline"></ion-icon> {{item.quan}}</span> 
                  </ion-card-header>
              
            
              <ion-card-content [innerHtml]="(item.details | slice:0:150) + (item.details.length > 150 ? '...' : '') ">
                 
              </ion-card-content>
            
            </ion-card>

      </ion-col>
    
  </ion-list>

</ion-content>
