<!--
  Generated template for the WishlistViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>{{ (loginData.title | slice:0:15) + (loginData.title.length > 15 ? '...' : '')}}</ion-title>
  
      <ion-buttons *ngIf=" user_id == user_id_2 "end>
          <button ion-button icon-only (click)="moToCreate(ids)">
            <ion-icon name="ios-create-outline"></ion-icon>
          </button>
  
          <button ion-button icon-only (click)="presentConfirm(ids)">
              <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  


  
  <ion-content >
  
  
      <ion-card>
  
          <ion-item>
           
            <h2>{{name}}</h2>
            <span *ngIf="repeat == '0'" class="label label-info">Weekly</span>
            <span *ngIf="	repeat == '1'" class="label label-info">Monthly</span> 
            <span *ngIf="repeat == '2'" class="label label-info">Yearly</span>
            <span *ngIf="	repeat == '3'" class="label label-info">One Time</span>
          </ion-item>
        
          <ion-item (click)="openModal(user_id)">
            <ion-avatar item-start>
                <img class="goga" *ngIf=" test != null" src="{{user_image}}">
              <img class="goga" *ngIf=" test == null && user_image!=null" src="https://givet.co.uk/backend/web/images/users/{{user_image}}">
              <img *ngIf="test == null && user_image == null" src="https://givet.co.uk/backend/web/images/default-250x250.png"/>
            </ion-avatar>
            <h2>{{user_name}} {{user_surename}}</h2>
            <p>{{user_email}}</p>
          </ion-item>
        
          <ion-card-content>
            <p [innerHtml]="description"></p>
          </ion-card-content>

          
          <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="ios-time-outline"></ion-icon>
                  <div>{{time}}</div>
                </button>
              </ion-col>

              <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="md-calendar"></ion-icon>
                    <div>{{date}}</div>
                  </button>
                </ion-col>


             
              
            </ion-row>

            <ion-item >
                <button ion-button (click)="share()">Share</button>
            </ion-item>
        
        </ion-card>


        <ion-list style="margin-bottom: 15px">

            <ion-card>

                  <div class="item" >
                 
                      <h2 style="padding: 20px;" float-left> Wishlists</h2>
                     

                  
    
                        
                <ion-buttons  *ngIf="user_id==user_id_2 "  style="    padding: 10px;" float-right>
                    <button ion-button icon-only (click)="openModalFriend()">
                      <ion-icon name="add"></ion-icon>
                    </button>
                    
                  </ion-buttons>
                    </div>

            </ion-card>
                
            <ion-col *ngFor="let item of items_dota"  no-padding>

                <ion-card *ngIf=" item.type != '0' || user_id == user_id_2">
                    

                    <ion-item>
                        <ion-avatar item-start>
                         
                            <img *ngIf="item.image != null" src="https://givet.co.uk/backend/web/images/{{item.image}}"/>
                            <img *ngIf="item.image == null" src="https://givet.co.uk/backend/web/images/default-250x250.png"/>
                          </ion-avatar>


                          <ion-card-header class="bot-pd" (click)="moToView(item)">
                              {{item.title}}
                               
                             </ion-card-header>
                             
                          </ion-item>
                 
      
                  
      
                     
              <ion-card-header class="no-mg" (click)="moToView(item)">
        
                  <span *ngIf=" item.type == '0'" class="label label-danger">                  
                      Private</span> 
                      <span *ngIf=" item.type == '1'" class="label label-warning">                  
                          Shared</span> 
                          <span *ngIf=" item.type == '2'" class="label label-success">                  
                              Public</span> 
                  
                </ion-card-header>
                    
              

                    <ion-card-content (click)="moToView(item)" class="fixline" [innerHtml]="(item.description | slice:0:150) +(item.description.length > 150 ? '...' : '')">
                     
                    </ion-card-content>


                            
                    <ion-card-header class="bot-pd" style="margin-bottom: 7px" *ngIf="user_id == user_id_2">
                      <button ion-button color="danger" (click)="del(item)">{{delete_lang}}</button>
                       
                     </ion-card-header>
                  
                  </ion-card>
      
            </ion-col>
          
        

          </ion-list>
  
  </ion-content>
  